.course-container {

    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.course-container img {
    width: 100%;
}

.course-container h2 {
    margin: 10px 0;
}

.course-container button {
    background-color: #2ABFC6;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
}

.course-container button:hover {
    color: #2ABFC6;
    background-color: whitesmoke;
}