.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto 0;
    box-shadow: 1px 1px 1px #2ABFC6;
    border-radius: 10px;
    padding: 5px 30px;
}

.header a {
    text-decoration: none;
}

.menu a {
    margin-right: 20px;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

.menu a:focus {
    color: #2ABFC6;
}

.menu a:hover {
    color: #2ABFC6;
    text-decoration: overline;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logo-container h2 {
    color: #2ABFC6;
}

@media (max-width: 768px) {
    .header {
        display: block;

    }

    .menu {
        margin-top: 20px;
    }

    .menu a {
        display: block;
        text-align: center;
    }
}